<!doctype html>
<html>

  <head>
  <style>
    body {
      background-color: rgb(225, 233, 255);
      border: solid;
      border-radius: 20px;
      padding: 10px;
      text-align: center;
    }
  </style>
  </head>

<body>
    <br>
    Login Failed! 
    <button style="padding: 7px;"><a href='/login'>Try Again</a></button>
	<br> <br>
   <button style="padding: 7px;"><a href='/register'>Create a new account</a></button> 
	<br> <br>
    <button style="padding: 7px;"><a href='/'> Go to Homepage</a> </button>
</body>


</html>