<!-- Home page / index page -->
<!doctype html>
<html>

  <head>
  <style>
    body {
      background-color: rgb(225, 233, 255);
      border: solid;
      border-radius: 20px;
      padding: 10px;
      text-align: center;
    }
  </style>
  </head>

<body>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Economic Recipe Finder</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if not logged_in %}
  <p>You haven't logged in yet. Please Log in! <button style="padding: 7px;"><a href='/login'>login</a></button>
  <p>No account? Create one! <button style="padding: 7px;"><a href='/register'>Create an account</a></button></p>   </p>

{% else %}
  <button style="padding: 7px;"><a href='/profile'>Go to your profile</a></button>
  <br><br>
  <button style="padding: 7px;"><a href='/api_req'>Make an API request</a></button>
  <br>

{% endif %}


<!-- Maybe we can utilize this html to display our ingredients or recipes -->
{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>

        <img src="data:image/jpg;base64, {{ photo[0] }}"/></li>
    {% endfor %}
    </ul>
{% endif %}




  <!--Go to homepage or logout-->
  <br>
  {% if logged_in %}
  <button style="padding: 7px;"><a href='/logout'>Logout</a> </button>
  {% endif %}


</body>
</html>
