<!-- Home page / index page -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Economic Recipe Finder</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if not message %}
  <p>You should <a href='/login'>login!</a></p>
  <p>Or, <a href='/register'>Create an account!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
<ul>
    <li><a href='/api_req'>Make an api request</a> </li>

</ul>
{% endif %}

<!-- Maybe we can utilize this html to display our ingredients or recipes -->
{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>

        <img src="data:image/jpg;base64, {{ photo[0] }}"/></li>
    {% endfor %}
    </ul>
{% endif %}

<ul>
<li><a href='/'>Home</a></li>
</ul>
