<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<html>
<title>Profile</title>

  <head>
  <style>
    body {
      background-color: rgb(225, 233, 255);
      border: solid;
      border-radius: 20px;
      padding: 10px;
      text-align: center;
    }
  </style>
  </head>

<body>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}
{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
  <p>Or, <a href='/register'>Register for an account!</a></p>

{% else %}
  <p style="position: relative; right: 80px; display: inline;"> You can:</p>
  <button style="padding: 7px; position: relative; right: 30px;"> Go to my <a href='/profile'>profile</a> </button>
  <br>
  <button style="padding: 7px;"><a href='/api_req'>Make an api request</a></button>
  <br>
  <button style="padding: 7px;"><a href ='/favorite'> Check out my favorite recipes </a></button>
  <br><br>
  
{% endif %}



{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>

        <img src="data:image/jpg;base64, {{ photo[0] }}"/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if top_users %}
<h2>These are our top users:</h2>
    {% for top_user in top_users %}
        <li>{{top_user[1]}} {{top_user[2]}}<br>
    {% endfor %}
{% endif %}



<br>
<button style="padding: 7px;"><a href='/'>Go to Homepage</a> </button>
<button style="padding: 7px;"><a href='/logout'>Logout</a></button>


</body>
</html>
