<!-- author ben lawson balawson@bu.edu -->
<!doctype html>
  <head>
  <style>
    body {
      background-color: rgb(225, 233, 255);
      border: solid;
      border-radius: 20px;
      padding: 10px;
      text-align: center;
    }
  </style>
  </head>



<head>
    <title>Create an account!</title>
</head>

{%if supress == "False"%}
<h1> Email already in use! Use another one or <a href="/login">login</a></h1>
{% endif %}
    <body>
        <div class="title">
            <h2>Enter your information below to create a new account</h2>
        </div>
        <div id="content">
            <form method="POST" action="{{ url_for('register') }}">
                <label for="first_name" style="position: relative; right: 13px;">Enter your first name:</label>
                <input type="first_name" name="first_name" required="required" placeholder="First Name" 
                        style="position: relative; right: 14px;"><br>

                <label for="last_name" style="position: relative; right: 13px;">Enter your last name:</label>
                <input type="last_name" name="last_name" required="required" placeholder="Last Name"
                        style="position: relative; right: 13px;"><br>

                <label for="email">Enter your email:</label>
                <input type="email" name="email" required="required" placeholder="Email"
                        style="position: relative; right: 1px;"><br>

                <label for="password" style="position:relative; left:3px;">Enter password:</label>
                <input type="password" name="password" required="required" placeholder="Password"
                        style="position: relative; left: 3px;"><br>
                <br>
                <input type="submit"/>
            </form>
         </div>
    </body>

    <br>
  <button style="padding: 7px;"><a href='/'> Go to Homepage</a> </button>
