<!doctype html>

    <head>  
     <title> Unauthorized</title>
    <style>
        body {
        background-color: rgb(225, 233, 255);
        border: solid;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        }
    </style>
    </head>


 <h1> Yikes, looks like you need to <button style="padding: 7px;"><a href='/login'>login</a> </button></h1>
    <br>
 <p>No account? Create one! <button style="padding: 7px;"><a href='/register'>Create an account</a></button></p>


  <br>
  <button style="padding: 7px;"><a href='/'> Go to Homepage</a> </button>
